<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="ML Live">
    <title>One ML</title>   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/foundation.min.css'%}">
    <link rel="stylesheet" href="{% static '/app.css'%}">
</head>
<style>
body {
 background-image: url("");
 background-color: #fff;
}
label{
    color:black;
}
</style>
<body >



<nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" href="http://localhost:8000/" style="font-size: 20;color: white    ">One ML</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#particle-js" href="http://localhost:8000/" style="font-size: 16;color: white">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 16;color: white" href="http://localhost:8000/linearRegression">Linear Regression</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 16;color: white" href="http://localhost:8000/imageClassification">Image Classification</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 16;color: white" href="http://localhost:8000/nlpVisualiser">NLP visulaiser</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="font-size: 16;color: white" href="http://localhost:8000/thug">BeAThug</a>
      </li>
    </ul>
  </div>
</nav>








        <div class="grid-x grid-margin-x" style="margin-top:15%;" id="image">
            <div class="large-12 cell">
                <h4 id='imageClassifiers' style="color:black;font-size:50px;text-aling:center;">Image Classifiers</h4>
              <br>
              <br>
              <br>
            </div>

            <div class="large-4 cell">
                <label for="resnet50FileUpload">Please choose image file you want to classify.</label>
                <input type="file" id="resnet50FileUpload">
            </div>

            <div class="large-8 cell">
                <input type="button" id="btnResNetUpload" class="button" value="Classify Image">
            </div>
        </div>

        <div class="grid-x grid-margin-x align-center" id="chartLoader" style="padding-top:6%;">
            <div class="small-1 meduim-1 large-1 cell">
                <img src="img/loading_32.gif">
            </div>
        </div>

        <div class="grid-x grid-margin-x align-center">
            <div class="large-10 cell" style="margin-bottom:20%;">
                <canvas id="resnetChart"></canvas>
            </div>
        </div>
    </div>








<script src="{% static '/jquery-3.3.1.min.js'%}"></script>
<script src="{% static '/foundation.min.js'%}"></script>
<script src="{% static '/displacy-ent.js'%}"></script>
<script src="{% static '/displacy.js'%}"></script>
<script src="{% static '/aws-sdk-2.283.1.min.js'%}"></script>
<script src="{% static '/Chart.min.js'%}"></script>
<script src="{% static '/app.js'%}"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>